<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>05_jsp</display-name>
  <!-- 에러페이지 등록하기 -->
  <error-page>
  	<!-- <error-code>500</error-code> -->
  	<exception-type>com.data.common.exception.MyException</exception-type>
  	<location>/views/error/500error.jsp</location>
  </error-page>
  
</web-app>