<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="/02_servletdata/insertBoard.do">
        <ul>
            <li>
                <label>제목<input type="text" name="title"></label>
            </li>
            <li>
                <label>작성자<input type="text" name="writer"></label>
            </li>
            
        </ul>
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="등록">
    </form>
</body>
</html>