<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>클라이언트데이터 전송</title>
</head>
<body>
	<h2>당신의 개인취향테스트</h2>
	<p>당신의 취향을 테스트</p>
	<form action="/02_servletdata/sendredirect.do">	
		<ul>
			<li>
				<label>이름 <input type="text" name="name"></label>
			</li>
			<li>
				<label>나이 <input type="number" min="0" name="age"></label>
			</li>
			<li>
				<label>키 <input type="text" name="height"></label>
			</li>
			<li>좋아하는색
				<label> <input type="radio" name="color" value="red">빨강</label>
				<label> <input type="radio" name="color" value="orange">주황</label>
				<label> <input type="radio" name="color" value="green">초록</label>
				<label> <input type="radio" name="color" value="blue">파랑</label>
				<label> <input type="radio" name="color" value="yellow">노랑</label>
				<label> <input type="radio" name="color" value="navy">남색</label>
			</li>
			<li>좋아하는 동물
				<label> <input type="checkbox" name="animals" value="dog">강아지</label>
				<label> <input type="checkbox" name="animals" value="cat">고양이</label>
				<label> <input type="checkbox" name="animals" value="펭귄">펭귄</label>
				<label> <input type="checkbox" name="animals" value="기린">기린</label>
				<label> <input type="checkbox" name="animals" value="사자">사자</label>
				<label> <input type="checkbox" name="animals" value="토끼">토끼</label>
				
			</li>
			<li>점심메뉴
				<select name="lunch">
					<option value="감자탕">감자탕</option>
					<option value="초밥">초밥</option>
					<option value="회">회</option>
					<option value="만두">만두</option>
					<option value="삼계탕">삼계탕</option>
				</select>
			</li>
		
		</ul>
	
	<li>
		<textarea cols="50" rows="10" name="info"></textarea>
	</li>
	
	<input type="submit" value="제출">
	<input type="reset" value="취소">
	</form>
</body>
</html>












