<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>02_servletdata</display-name>
  <!--
  		생성한 서블릿 등록하기
  		<servlet>태그를 이용해서 생성한 서블릿 클래스를 등록함
  		<servlet>태그의 자식으로 <servlet-name> : 서버내에서의 서블릿클래스의 이름 등록 
  							<servlet-class> : 클래스를 등록 * 패키지명까지 모두 작성
    -->
    <servlet>
    	<servlet-name>basicsevlet</servlet-name>
    	<servlet-class>com.servlet.controller.BasicSevletController</servlet-class>
    </servlet>
    <!--
    		등록된 서블릿을 실행할 URL주소를 매핑
    		<servlet-mapping>태그를 이용
    		자식태그로
    		<servlet-name>: 연결할 서블릿이름
    		<url-pattern>: 매핑주소 *주소작성시에는 반드시 /로 시작
     -->
     <servlet-mapping>
     	<servlet-name>basicsevlet</servlet-name>
     	<url-pattern>/basicrequest.do</url-pattern>
     </servlet-mapping>
     
     <servlet>
     	<servlet-name>basicdata</servlet-name>
     	<servlet-class>com.servlet.controller.BasicDataServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>basicdata</servlet-name>
     	<url-pattern>/basicdata.do</url-pattern>
     </servlet-mapping>
</web-app>











